- load static

div.wrapper-outer
  header.wrapper-inner
    h1.page-title
      a(href='/').page-title--link.no-text
      img(src='{% static "images/logo.jpg" %}', alt='Primagia')

    p.page-claim
      | Stwórz swoje 
      strong własne 
      strong niepowtarzalne 
      | wydruki

    div.cart-info
      | W Twoim koszyku są 
      strong 3 produkty 
      strong.cart-info--price
        | 169
        span zł
