doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='pl')
  //<![end if]

  head
    block head
      include partials/head
  body

    block top
      include partials/top

    block header
      include partials/header
    
    block nav
      include partials/nav
    
    block main
      include partials/main
    
    block footer
      include partials/footer
    
    block additionals
      include partials/additionals
    
    | {% block content %}{% endblock %}
    | {% block sx %}
    |   a
    | {% endblock %}

